body {
	padding : 20px;
}
.content {
  padding: 30px;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  color: inherit;
  background-color: #eeeeee;
}
.segment {
    margin-top: 20px;
    margin-left: 20px;
}
#wordInput {
    
    width : 300px;
}
#numberResult {
    font-size: 20px;
    margin: 10px;
}
#saveResults {
    margin-bottom: 10px;
}
td {
	border : solid 1px #A0A0A0;
	padding : 10px;
	font-family : "Courier New", Courier, monospace;
}